.bg {
  background-attachment: fixed;  
  background-size: cover;
}

.jumbotron-fluid {
  display: flex;
  text-align: center;
  height: 150px;
  background-color: transparent;
  color: white;
  padding-top: 30px;
}

#input-card {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-primary {
  margin-top: 30px;
}

#form-body  {
  width: 60%;
  margin-left: 20%;
}

#startDate,
#endDate    {
  width: 30%;
  margin-left: 40%;
}