/* body {
  background-attachment: fixed; 
  background-size: cover;
} */

/* body {
  background-image: url("../images/beach.png");
  background-size: cover;
} */

.bg {
  background-attachment: fixed;  
  background-size: cover;
}

.card,
.form-control {
     text-align: center;
     margin-bottom: 5px;
}

.jumbotron-fluid {
     display: flex;
     text-align: center;
     height: 150px;
     background-color: transparent;
     color: white;
     padding-top: 30px;
}

.card {
     font-weight: bold;
     background-color: transparent;
     color: white;
     border: none;
}

.btn-responsive {
     margin-top: 60px;
}

.nav {
     margin-top: 50px;
}

.nav-link {
     color: white;
}

.form-control {
  width: 60%;
  margin-left: 20%;
}





